.pagination-count{
    position: relative;
    display: flex;
    align-items: center;
  }
  .pagination-count-title{
  color: #666666;
  }
  .pagination-count-number{
    color: #1F1F1F;
    margin-left: 2px;
  }
  .pagination-count-number#status-dropdown{
    font-weight: 700;
  }
  .pagination-count-dropdown{
    background-image: url("../../assets/icon/Sprites.64af8f61.svg");
    background-position: -1792px -468px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: linear 0.3s;
  }
  
  .pagination-dropdown-list{
    position: absolute;
    z-index: 11;
    top: 36px;
    left: 0;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(23,27,42,0.24);
    border-radius: 4px;
    padding: 8px 8px;
    display: block;
  }
  .pagination-dropdown-item{
    height: 36px;
    width: 100%;
    padding: 0px 14px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
  }
  .pagination-dropdown-item:hover{
    background-color: var(--hover);
    color: var(--primary);
  }
  .pagination-dropdown-item.active{
    color: var(--primary);
    background-color: var(--hover);
  }
  .check-icon {
    font-size: 16px;
    color: var(--primary);
    display: none;
  }
  .pagination-dropdown-item.active .check-icon{
  display: block;
  }
  .form-input-error{
    border: 1px solid #E60000;
  }
  input[required].form-input-error + .error-text{
    display: block;
  }
  .timeKeeping{
    width: 230px;
  }
  .orderManagement{
    width: 250px;
  }
  .report{
    width: 390px;
  }
  .status-dropdown{
    width: 150px;
  }
  .pageSize{
    top: -173px;
    width: 97px;
    left: -39px;
}
.dx-dropdown{
  width: 320px;
  height: 34px;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  margin-right: 8px;
  
}